# Input Normalisation
### Fraud Detection System Development using Deep Neural Network for Reported Transactional Data

#### Import Libraries

In [59]:
import pandas as pd
import numpy as np
from datetime import date

In [108]:
import seaborn as sns

#### Load CSV File

In [10]:
df = pd.read_csv("user_data_test.csv",  sep=';')

In [11]:
df.head()

,Unnamed: 0,uid,is_scammer,source,trx_date,report_date,registereddate,birthday,gender,job_position,...,dormancy_count_trx,kyc_total_failed,kyc_total_revoked,avg_topup_weight_1,avg_x2x_weight_1,avg_other_weight_1,centrality_outdegree_p2p,centrality_indegree_p2p,centrality_undirected_p2p,centrality_outdegree_sendmoney
0,21796,b3007010-e28e-4b0a-8549-a9dfd7f58ff3,0,INCOMPLETE_CS_REPORT_VICTIM,11/03/2023,11/03/2023,01/09/2022,01/08/1999,Male,PELAJAR / MAHASISWA,...,100,0.0,0.0,49010417,175,18802083,1.413487e+08,7.067437e+07,2.120231e+08,1.306080e+09
1,271,76bef4cc-81d2-4759-80ac-8ffa6324f958,1,INCOMPLETE_CS_REPORT_SCAMMER,23/02/2023,23/02/2023,01/02/2023,01/08/1955,Female,MENGURUS RUMAH TANGGA,...,5,0.0,0.0,8333333,3333333,1666667,0.000000e+00,3.230000e+11,3.230000e+11,6.530402e+05
2,31661,4c40e720-9640-4aff-8f54-22603fed66ec,0,INCOMPLETE_CS_REPORT_VICTIM,17/02/2023,17/02/2023,01/07/2022,01/02/2003,Male,PELAJAR / MAHASISWA,...,7,0.0,0.0,3333333,3333333,0,7.067437e+07,0.000000e+00,7.067437e+07,0.000000e+00
3,9679,1b92b298-eb2e-4efd-a881-131a267182b8,0,CS_REPORT_VICTIM,22/12/2022,11/01/2023,01/11/2021,01/10/1989,Female,KARYAWAN SWASTA,...,37,0.0,0.0,14791667,30729167,57291667,2.120231e+08,1.413487e+08,3.533719e+09,1.959121e+09
4,17295,6d407ea1-8f3e-4766-a7f7-72324eba15d2,1,INCOMPLETE_CS_REPORT_SCAMMER,18/01/2023,18/01/2023,01/06/2022,01/04/1997,Male,BELUM / TIDAK BEKERJA,...,30,50.0,0.0,5416667,2375,425,7.067437e+07,7.067437e+07,7.067437e+07,3.265201e+08

#### Start Cleaning Here

In [12]:
df1 = df.copy()

In [16]:
# Drop 'uid' and 'id' columns
df1 = df.drop(columns = ['uid', 'Unnamed: 0', 'is_scammer'])
df1.head()

,source,trx_date,report_date,registereddate,birthday,gender,job_position,is_verified,aqc_freq_prepaid_mobile,aqc_mean_prepaid_mobile_amount,...,dormancy_count_trx,kyc_total_failed,kyc_total_revoked,avg_topup_weight_1,avg_x2x_weight_1,avg_other_weight_1,centrality_outdegree_p2p,centrality_indegree_p2p,centrality_undirected_p2p,centrality_outdegree_sendmoney
0,INCOMPLETE_CS_REPORT_VICTIM,11/03/2023,11/03/2023,01/09/2022,01/08/1999,Male,PELAJAR / MAHASISWA,1,0,0.000000e+00,...,100,0.0,0.0,49010417,175,18802083,1.413487e+08,7.067437e+07,2.120231e+08,1.306080e+09
1,INCOMPLETE_CS_REPORT_SCAMMER,23/02/2023,23/02/2023,01/02/2023,01/08/1955,Female,MENGURUS RUMAH TANGGA,1,0,0.000000e+00,...,5,0.0,0.0,8333333,3333333,1666667,0.000000e+00,3.230000e+11,3.230000e+11,6.530402e+05
2,INCOMPLETE_CS_REPORT_VICTIM,17/02/2023,17/02/2023,01/07/2022,01/02/2003,Male,PELAJAR / MAHASISWA,1,0,0.000000e+00,...,7,0.0,0.0,3333333,3333333,0,7.067437e+07,0.000000e+00,7.067437e+07,0.000000e+00
3,CS_REPORT_VICTIM,22/12/2022,11/01/2023,01/11/2021,01/10/1989,Female,KARYAWAN SWASTA,1,10,2.130000e+15,...,37,0.0,0.0,14791667,30729167,57291667,2.120231e+08,1.413487e+08,3.533719e+09,1.959121e+09
4,INCOMPLETE_CS_REPORT_SCAMMER,18/01/2023,18/01/2023,01/06/2022,01/04/1997,Male,BELUM / TIDAK BEKERJA,1,16,9.940000e+15,...,30,50.0,0.0,5416667,2375,425,7.067437e+07,7.067437e+07,7.067437e+07,3.265201e+08

In [31]:
# Fill NULL data in column 8 - 42 (numeric data)
for i in range (8, 43):
    df1[df1.columns[i]] = df1[df1.columns[i]].fillna(0)
    
# Fill NULL data in date and time format columns
df1['trx_date'].fillna("11/01/2020") #18272
df1['report_date'].fillna("7/01/2020") #18268
df1['registereddate'].fillna("22/10/2013") #16000
df1['birthday'].fillna("7/12/1928") #-15000

In [101]:
(pd.to_datetime("7/12/1928", format="%d/%m/%Y") - np.datetime64(0, 'Y')).days

-15000

In [103]:
# Datetime-format columns change to integer
import datetime as dt
for i in range (1, 5):
    df1[df1.columns[i]] = pd.to_datetime(df1[df1.columns[i]], format="%d/%m/%Y")
    df1[df1.columns[i]] = (df1[df1.columns[i]] - np.datetime64(0, 'Y')).dt.days

In [114]:
df2 = df1.copy()

In [115]:
# Classify job_position into 8 categories
df2['job_position'] = df2['job_position'].fillna('LAINNYA')

df2['job_position'] = df2['job_position'].str.replace(" ", "")
df2['job_position'] = df2['job_position'].str.replace("/", "")

karyawan = [r'(.*(?:KARYAWAN).*)', r'(.*(?:BURUH).*)', 'PILOT', 'PELAUT', 'PETANIPEKEBUN', 'PETERNAK', 'NELAYANPERIKANAN', 'SOPIR', 'AKUNTAN', 'TRANSPORTASI', 'PENATARIAS', 'PENATARAMBUT', 'PENATABUSANA', 'PENGEMUDI', 'PENYIARTELEVISI', 'PENYIARRADIO']
tidak_kerja = [r'(.*(?:TIDAK).*)', r'(.*(?:BELUM).*)', 'PENSIUNAN', 'PENSIUN']
pelajar = [r'(.*(?:PELAJAR).*)']
wiraswasta = [r'(.*(?:SWASTA).*)', r'(.*(?:WIRA).*)', 'PERDAGANGAN', 'INDUSTRI', 'KONSTRUKSI', 'PEDAGANG', 'WIASRWASTA']
spesialis = [r'(.*(?:TUKANG).*)', 'GURU', 'DOSEN', 'BIDAN', 'DOKTER', 'WARTAWAN', 'APOTEKER', 'PERAWAT', 'PENGACARA', 'PENELITI', 'PARAJI', 'KONSULTAN', 'PERANCANGBUSANA', 'HAKIM', 'ARSITEK', 'PENTERJEMAH', 'JURUMASAK', 'MEKANIK', 'NOTARIS']
pns = [r'(.*(?:BUMN).*)', r'(.*(?:BUMD).*)', r'(.*(?:ANGGOTA).*)', 'PERANGKATDESA', 'PEGAWAINEGERISIPIL', 'KEPOLISIANRI', 'GUBERNUR', 'TENTARANASIONALINDONESIA', 'KEPALADESA', 'WALIKOTA', 'BUPATI', 'DUTABESAR']
rumahtangga = [r'(.*(?:RUMAH).*)']
lainnya = [r'(.*(?:LAIN).*)', r'^[A-Z0-9]{0,3}$', 'SENIMAN', 'TABIB', 'USTADZMUBALIGH', 'OHTERS', 'OTHERS', 'PASTUR', 'PARANORMAL', 'PIALANG', 'IMAMMASJID', 'PENDETA', 'BIARAWATI']

df2['job_position'] = df2['job_position'].replace(lainnya, 'LAINNYA', regex = True)
df2['job_position'] = df2['job_position'].replace(pns, 'PEGAWAI_NS', regex = True)
df2['job_position'] = df2['job_position'].replace(pelajar, 'PELAJAR', regex = True)
df2['job_position'] = df2['job_position'].replace(karyawan, 'KARYAWAN', regex = True)
df2['job_position'] = df2['job_position'].replace(wiraswasta, 'WIRASWASTA', regex = True)
df2['job_position'] = df2['job_position'].replace(spesialis, 'SPESIALIS', regex = True)
df2['job_position'] = df2['job_position'].replace(rumahtangga, 'RUMAH_TANGGA', regex = True)
df2['job_position'] = df2['job_position'].replace(tidak_kerja, 'TIDAK_KERJA', regex = True)

#### One-Hot Encoding and Column Matching

In [117]:
# One-Hot Encoding
df3 = df2.copy()
categorical_columns = ['source','gender','job_position']
df3 = pd.get_dummies(df3, columns = categorical_columns)

In [123]:
# Match Number of Columns
if 'gender_Male' not in df3.columns:
    df3['gender_Male'] = 0
if 'gender_Female' not in df3.columns:
    df3['gender_Female'] = 0
if 'gender_None' not in df3.columns:
    df3['gender_None'] = 0

if 'source_CS_REPORT_SCAMMER' not in df3.columns:
    df3['source_CS_REPORT_SCAMMER'] = 0
if 'source_CS_REPORT_VICTIM' not in df3.columns:
    df3['source_CS_REPORT_VICTIM'] = 0
if 'source_INCOMPLETE_CS_REPORT_SCAMMER' not in df3.columns:
    df3['source_INCOMPLETE_CS_REPORT_SCAMMER'] = 0
if 'source_INCOMPLETE_CS_REPORT_VICTIM' not in df3.columns:
    df3['source_INCOMPLETE_CS_REPORT_VICTIM'] = 0
    
if 'job_position_KARYAWAN' not in df3.columns:
    df3['job_position_KARYAWAN'] = 0
if 'job_position_LAINNYA' not in df3.columns:
    df3['job_position_LAINNYA'] = 0
if 'job_position_PEGAWAI_NS' not in df3.columns:
    df3['job_position_PEGAWAI_NS'] = 0
if 'job_position_PELAJAR' not in df3.columns:
    df3['job_position_PELAJAR'] = 0
if 'job_position_RUMAH_TANGGA' not in df3.columns:
    df3['job_position_RUMAH_TANGGA'] = 0
if 'job_position_SPESIALIS' not in df3.columns:
    df3['job_position_SPESIALIS'] = 0
if 'job_position_TIDAK_KERJA' not in df3.columns:
    df3['job_position_TIDAK_KERJA'] = 0
if 'job_position_WIRASWASTA' not in df3.columns:
    df3['job_position_WIRASWASTA'] = 0

#### Normalisation : Clipping and MinMax

In [139]:
df4 = df3.copy()

In [128]:
# Load reference dataset
df_ref = pd.read_csv("normalisation_reference.csv", sep=';')

In [140]:
for i in df_ref['col_name']:
    ref_min = int(df_ref.loc[(df_ref['col_name']) == i]['min'])
    ref_max = int(df_ref.loc[(df_ref['col_name']) == i]['max'])
    df4[i] = df4[i].clip(ref_min, ref_max)
    df4[i] = (df4[i] - ref_min) / (ref_max - ref_min)