In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
df = pd.read_csv('user_data.csv', sep=';')

E:\DPrograms\Anaconda\envs\opencv-env\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (28,40) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,uid,is_scammer,source,trx_date,report_date,registereddate,birthday,gender,job_position,is_verified,...,dormancy_count_trx,kyc_total_failed,kyc_total_revoked,avg_topup_weight_1,avg_x2x_weight_1,avg_other_weight_1,centrality_outdegree_p2p,centrality_indegree_p2p,centrality_undirected_p2p,centrality_outdegree_sendmoney
0,da41ba31-1fb7-4123-b4f5-49d3c93c407d,1,INCOMPLETE_CS_REPORT_SCAMMER,2023-02-10,10/02/2023,01/10/2022,01/01/1994,Female,MENGURUS RUMAH TANGGA,1,...,685,10.0,0.0,1125,505,1666667,"1,35695E+11",73430675506,80780810494,"653040,1993"
1,39063101-67dc-4a30-8d3a-d16a388f5dbd,1,INCOMPLETE_CS_REPORT_SCAMMER,2023-02-07,07/02/2023,01/01/2023,01/04/2002,Male,PELAJAR / MAHASISWA,1,...,70,0.0,0.0,22083333,30416667,14166667,0,"70674374,89","70674374,89",1306080399
2,74196a84-6b98-475a-b01d-a4eb22c4c015,1,INCOMPLETE_CS_REPORT_SCAMMER,2023-01-16,16/01/2023,01/12/2022,01/04/1991,Male,BELUM / TIDAK BEKERJA,1,...,18,0.0,0.0,375,35833333,23333333,0,5300578116,5300578116,"653040,1993"
3,640d7332-34f5-45bd-8404-65f72417fadc,1,CS_REPORT_SCAMMER,2022-04-19,21/04/2022,01/04/2022,NaN,NaN,NaN,0,...,7,NaN,NaN,0,0,0,0,0,0,0
4,640d7332-34f5-45bd-8404-65f72417fadc,1,CS_REPORT_SCAMMER,2022-04-19,21/04/2022,01/04/2022,NaN,NaN,NaN,0,...,7,NaN,NaN,0,0,0,0,0,0,0

In [4]:
df.isna().sum()

uid                                     0
is_scammer                              0
source                             221763
trx_date                                0
report_date                        355291
registereddate                       1005
birthday                            44280
gender                              43265
job_position                        44277
is_verified                             0
aqc_freq_prepaid_mobile                 0
aqc_mean_prepaid_mobile_amount          0
aqc_freq_topup                          0
aqc_freq_topup_within_7d                0
aqc_mean_topup_amount                   0
aqc_mean_topup_amount_7d                0
aqc_mean_topup_amount_30d               0
aqc_mean_topup_amount_90d               0
aqc_total_topup_amount_7d               0
aqc_total_topup_amount_90d              0
aqc_freq_x2x                            0
aqc_freq_x2x_within_60d                 0
aqc_freq_x2x_within_90d                 0
aqc_mean_x2x_amount                     0
aqc_mean_x2x_amount_7d                  0
aqc_mean_x2x_amount_30d                 0
aqc_mean_x2x_amount_60d                 0
aqc_mean_x2x_amount_90d                 0
aqc_total_x2x_amount                    0
aqc_total_x2x_amount_7d                 0
aqc_total_x2x_amount_30d                0
aqc_total_x2x_amount_60d                0
aqc_total_x2x_amount_90d                0
dormancy_max_gmt_pay_diff_days        818
dormancy_mean_gmt_pay_diff_days       818
dormancy_count_trx                      0
kyc_total_failed                    20060
kyc_total_revoked                   20060
avg_topup_weight_1                      0
avg_x2x_weight_1                        0
avg_other_weight_1                      0
centrality_outdegree_p2p                0
centrality_indegree_p2p                 0
centrality_undirected_p2p               0
centrality_outdegree_sendmoney          0
dtype: int64

In [5]:
# Drop uid column
df1 = df.drop(columns=['uid'])

In [6]:
# Change df['source'] null to 'none'
df1['source'] = df1['source'].fillna('none')

In [7]:
# One-hot Encoding for df['source']
df1['source'].value_counts()

none                            221763
FACE_MEDIUM_FP                   76814
FACE_HIGH_FP                     30046
RANDOM_ACTIVE_USER               19691
CS_REPORT_SCAMMER                12577
CS_REPORT_VICTIM                 11353
INCOMPLETE_CS_REPORT_VICTIM      10367
INCOMPLETE_CS_REPORT_SCAMMER      8562
FACE_MEDIUM_TP                    4693
FACE_HIGH_TP                      2466
Name: source, dtype: int64

In [8]:
# df['trx_date'] change to integer
df1['trx_date'] = pd.to_datetime(df1['trx_date'])
df1['trx_date'] = (df1['trx_date'] - np.datetime64(0, 'Y')).dt.days

In [9]:
# df['report_date'] null to np.datetime64('1970')
# df['report_date'] change to integer
df1['report_date'] = df1['report_date'].fillna(np.datetime64(0, 'Y'))
df1['report_date'] = pd.to_datetime(df1['report_date'])
df1['report_date'] = (df1['report_date'] - np.datetime64(0, 'Y')).dt.days

In [10]:
# df['registereddate'] null to np.datetime64('1970')
# df['registereddate'] change to integer
df1['registereddate'] = df1['registereddate'].fillna(np.datetime64(0, 'Y'))
df1['registereddate'] = pd.to_datetime(df1['registereddate'])
df1['registereddate'] = (df1['registereddate'] - np.datetime64(0, 'Y')).dt.days

In [11]:
# Handle corrupt birthday data '#'*256
# df['birthday'] null to np.datetime64('0000')
# df['birthday'] change to integer
df1.loc[(df1['birthday'] == '#'*255)] = np.datetime64('0000')
df1['birthday'] = df1['birthday'].fillna(np.datetime64('0000'))
df1['birthday'] = pd.to_datetime(df1['birthday'])
df1['birthday'] = (df1['birthday'] - np.datetime64(0, 'Y')).dt.days

In [12]:
# df['gender'] null to 'Null'
df1['gender'] = df1['gender'].fillna('Null')
df1['gender'].value_counts()

Male      222408
Female    132629
Null       43265
-1970         30
Name: gender, dtype: int64

In [13]:
# df['job_position'] perbaiki typo
# df['job_position'] null --> 'LAINNYA'
# df['job_position'] kelompokkan menjadi RT, Pelajar, TidakBekerja, Wiraswasta, Spesialis, Karyawan, Lainnya
# note: ada 159 unique job entries
# semangat dit
df['job_position'].unique()

array(['MENGURUS RUMAH TANGGA', 'PELAJAR / MAHASISWA',
       'BELUM / TIDAK BEKERJA', nan, 'KARYAWAN SWASTA', 'WIRASWASTA',
       'PERANGKAT DESA', 'TUKANG LISTRIK', 'BURUH HARIAN LEPAS',
       'WIARSWASTA', 'PEGAWAI NEGERI SIPIL', 'PETANI / PEKEBUN',
       'PERDAGANGAN', 'KEPOLISIAN RI', 'PERAWAT', 'KARYAWAN HONORER',
       'KARYAWAN BUMN', 'GURU', 'DOSEN', 'GUBERNUR', 'KARYAWAN BUMD',
       'KONSTRUKSI', 'BURUH TANI / PERKEBUNAN', '16', '13',
       'PEKERJAAN LAINNYA', 'BIDAN', 'TUKANG JAHIT', '114',
       'BELUM/TIDAK BEKERJA', 'PEDAGANG', 'WARTAWAN', '110', 'DOKTER',
       'NELAYAN / PERIKANAN', 'APOTEKER', 'INDUSTRI', 'WIRASAWSTA',
       'TENTARA NASIONAL INDONESIA', 'SOPIR', 'AKUNTAN', 'PENGACARA',
       'PENDETA', 'PELAUT', 'PENATA RIAS', 'TABIB', 'USTADZ / MUBALIGH',
       'SWASTA', '68', 'PENATA RAMBUT', '131', 'TRANSPORTASI', 'PILOT',
       'SENIMAN', 'BURUH NELAYAN / PERIKANAN', 'PENATA BUSANA', '126',
       'PEKERJAAN LAINYYA', 'TUKANG LAS / PANDAI BESI',
       'PEKERJAAN LAINNTA', 'WIRASWSATA', 'PENSIUN', 'PEKERJAAN LAINYA',
       'TUKANG KAYU', 'WIRASAWASTA', 'PERANCANG BUSANA', 'MEKANIK',
       'WIRASWSASTA', 'ANGGOTA LEMBAGA TINGGI LAINYA', 'WIRASEWASTA',
       'TUKANG BATU', 'BELUM KAWIN', 'WIRASWTAS', '62',
       'BELUM/T IDAK BENERJA', 'KONSULTAN', 'PEKERJA LAINNYA',
       'WIRASWAST', 'NOTARIS', 'WIRAWASTA', 'WIRWASWASTA', 'PETERNAK',
       'WIRSWASTA', 'PENELITI', 'PENYIAR TELEVISI',
       'PEMBANTU RUMAH TANGGA', 'TUKANG CUKUR', 'WRASWASTA',
       'ANGGOTA MAHKAMAH KONSTITUSI', 'ANGGOTA DPRD KAB / KOTA', '75',
       '156', 'TIDAK BEKERJA', 'KEPALA DESA', 'WIRASWASTSA', 'WIRASWATA',
       'BELUM TIDAK BEKERJA', 'PENSIUNAN', 'WIRASWASTQA', 'WRRASWASTA',
       'ARSITEK', '153', 'PENTERJEMAH', '137', '166', 'PENYIAR RADIO',
       '112', '11', '154', '117', '119', 'ANGGOTA KABINET / KEMENTRIAN',
       '51', 'KARYAWAN', 'PELAJAR/MAHASISWA', 'WEIRASWASTA', 'PARAJI',
       'WIRASWASAT', 'WIIRASWASTA', 'WIRASWASTAT', 'JURU MASAK',
       'BURUH PETERNAKAN', 'WURASWASTA', 'DUTA BESAR', 'WISASWASTA',
       'PIALANG', 'WIRASWASA', 'WIRASWSTA', 'PETANI PEKEBUN',
       'TUKANG SOL SEPATU', 'WIASRWASTA', 'WIRASWASATA', 'TUKANG GIGI',
       'ANGGOTA LEMBAGA TINGGI LAINNYA', 'WIRAASWASTA', 'OHTERS', 'HAKIM',
       'W', 'BIARAWATI', 'IMAM MASJID', 'BELUM BEKERJA', 'MENGURUS RUMAH',
       'ANGGOTA DPRD PROPINSI', 'PEK', 'PARANORMAL', 'WIRASWAASTA',
       'WIROSWASTA', 'PETANI/PEKEBUN', 'PASTUR', 'NELAYANPERIKANAN',
       'WALIKOTA', 'WIRASWASRA', 'ISLAM BELUM/TIDAK BEKERJA', 'BUPATI',
       'OTHERS', 'PELAJAR MAHASISWA', 'NELAYAN/PERIKANAN', 'PENGEMUDI',
       'ANGGOTA BPK', 'PELAJARIMAHASISWA'], dtype=object)

In [14]:
# df['dormancy_max_gmt_pay_diff_days'] null --> 0
# df['dormancy_mean_gmt_pay_diff_days'] null --> 0
df1['dormancy_max_gmt_pay_diff_days'] = df1['dormancy_max_gmt_pay_diff_days'].fillna(0)
df1['dormancy_mean_gmt_pay_diff_days'] = df1['dormancy_mean_gmt_pay_diff_days'].fillna(0)

In [15]:
# df['kyc_total_failed'] null --> 0
# df['kyc_total_revoked'] null --> 0
df1['kyc_total_failed'] = df1['kyc_total_failed'].fillna(0)
df1['kyc_total_revoked'] = df1['kyc_total_revoked'].fillna(0)

In [ ]:
# TO-DO NEXT:
# Perbaiki JOB_POSITION
# ONE-HOT ENCODING