# Model Predict Testing

In [1]:
import pandas as pd
import tensorflow as tf

In [15]:
df = pd.read_csv("user_data_test_cleaned.csv", sep=';')

In [16]:
df.head()

,Unnamed: 0,trx_date,report_date,registereddate,birthday,is_verified,aqc_freq_prepaid_mobile,aqc_mean_prepaid_mobile_amount,aqc_freq_topup,aqc_freq_topup_within_7d,...,job_position_KARYAWAN,job_position_LAINNYA,job_position_PEGAWAI_NS,job_position_PELAJAR,job_position_RUMAH_TANGGA,job_position_SPESIALIS,job_position_TIDAK_KERJA,job_position_WIRASWASTA,uid,is_scammer
0,0,0.812236,0.812763,0.963095,0.916693,1,0.000000,0.000000,0.077151,0.053738,...,0,0,0,1,0,0,0,0,b3007010-e28e-4b0a-8549-a9dfd7f58ff3,0
1,1,0.800985,0.801543,1.000000,0.345767,1,0.000000,0.000000,0.015826,0.037383,...,0,0,0,0,1,0,0,0,76bef4cc-81d2-4759-80ac-8ffa6324f958,1
2,2,0.796765,0.797335,0.944643,0.962166,1,0.000000,0.000000,0.005935,0.004673,...,0,0,0,1,0,0,0,0,4c40e720-9640-4aff-8f54-22603fed66ec,0
3,3,0.756681,0.771388,0.872619,0.789122,1,0.038911,0.041929,0.033630,0.065421,...,1,0,0,0,0,0,0,0,1b92b298-eb2e-4efd-a881-131a267182b8,0
4,4,0.775668,0.776297,0.935714,0.886426,1,0.062257,0.195669,0.016815,0.018692,...,0,0,0,0,0,0,1,0,6d407ea1-8f3e-4766-a7f7-72324eba15d2,1

In [28]:
y_test = df['is_scammer']

In [ ]:
x_test = df.drop(columns=['Unnamed: 0', 'uid', 'is_scammer'])

In [19]:
y_test

0       0
1       1
2       0
3       0
4       1
       ..
2137    0
2138    0
2139    1
2140    0
2141    0
Name: is_scammer, Length: 2142, dtype: int64

#### Convert to Tensor

In [21]:
x_test, y_test = tf.convert_to_tensor(x_test, dtype=tf.float32), tf.convert_to_tensor(y_test, dtype=tf.float32)

In [12]:
model = tf.keras.models.load_model("saved_models/log_reg_keras_source_drop.h5", compile=False)

In [13]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_5 (Dense)              (None, 10)                520
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 11
=================================================================
Total params: 531
Trainable params: 531
Non-trainable params: 0
_________________________________________________________________

In [23]:
y_result = model.predict(x_test)

In [38]:
len(y_result)

2142

In [43]:
pred_correct = 0
pred_false = 0
for i in range (0, len(y_result)):
    if y_result[i] >= 0.5:
        if (y_test[i] == 1):
            pred_correct += 1
        else:
            pred_false += 1
    else:
        if (y_test[i] == 0):
            pred_correct += 1
        else:
            pred_false += 1

In [44]:
pred_correct

1769

In [45]:
pred_false

373

In [47]:
# Accuracy
pred_correct/(pred_correct+pred_false)

0.8258636788048552